/* Fonts */
@import url("fonts.css");

/* Reset */
@import url('reset.css');

html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Pretendard Variable", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
#__next {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

ul{
  margin: 0 auto;
  list-style: "none";
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}
